body{
    background: #F5F5F5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    color: #566787;
}

.container{
    background: white;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    border-radius: 3px
}

.nav{
    width: 100%;
    padding: 16px 30px;
    background: #435D7D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px 3px 0 0;
}

.nav h2{
    color: white;
    font-size: 24px;
    margin: 0;
}

.btn{
    display: flex;
    align-items: center;
}

.btn i{
    margin-right: 3px;
}

::placeholder{
    font-size: 13px;
}

.wrapper{
    padding: 0px 25px;
}

.form-group{
    width: 100%;
    margin-top: 25px;
    float: right;
}

.table th{
    color: #566787;
    border-top: 0;
}

table.table td i.edit{
    color: #FCD04B;
    cursor: pointer;
}

table.table td i.delete{
    color: #F45549;
    cursor: pointer;
}

.modal .modal-dialog{
    max-width: 400px;
}

.modal-body .form-group{
    margin: 5px;
}

.error{
    border: red;
}